@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NSFL Stats Central</h1>
    <p class="lead">A library of statistics for the <a href="http://www.simulation-football.com">National Simulation Football League</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TPE Tracker</h2>
        <p>
            This page tracks the total TPE of every player in the league, and shows team totals. 
            Updates are made on Monday mornings (GMT), which should give the most recent information 
            after each wave of updates.
        </p>
        <p><small>Original WebScraper build by 7hawk77, original stats display site by Noppadet. Since modified and currently maintained by 37thchamber.</small></p>
    </div>
</div>